.roboticsCard {
  margin-bottom: 2rem;
}

.icon {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.roboticsCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}